<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>helloSpring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--<init-param>-->
            <!--<param-name>namespace</param-name>-->
            <!--<param-value>helloSpring-servlet</param-value>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--<param-value>/WEB-INF/helloSpring-servlet.xml</param-value>-->
            <!--<param-value></param-value>-->
            <!--<param-name>contextClass</param-name>-->
            <!--<param-value>com.max.web.MyWebConfig</param-value>-->
        <!--</init-param>-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloSpring</servlet-name>
        <url-pattern>/helloSpring/*</url-pattern>
    </servlet-mapping>

    <!--<listener>-->
    <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->

    <servlet>
        <servlet-name>myHome2</servlet-name>
        <servlet-class>com.max.web.MyServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myHome2</servlet-name>
        <url-pattern>/myhome2</url-pattern>
    </servlet-mapping>
</web-app>