grant {
    permission java.io.FilePermission "/tmp/*", "read,write";
    permission java.net.SocketPermission "*.horstmann.com:8000-8999", "connect";
    //permission java.util.PropertyPermission "os.title", "read";
    permission security.MyPermission "use";
};

grant{
    permission javax.security.auth.AuthPermission "createLoginContext.Login1";
    permission javax.security.auth.AuthPermission "doAsPrivileged";
};
grant principal com.sun.security.auth.UnixPrincipal "max" {
    permission java.util.PropertyPermission "user.*", "read";
    permission java.util.PropertyPermission "os.title", "read";
};